body{
    font-family: 'Bahnschrift';
    text-align: center;
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-size: 60rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;  
}
table{
    
    margin: 0 auto;
    background: lightgrey;
}
th{
    border: 2px dashed darkblue;
}
td{
    border: 3px solid darkblue;
}



h1{
    font-family: 'Calisto MT';
    color: darkblue;
    text-decoration: underline;
    text-shadow: 2px -2px white;
}
h2{
    font-family: 'Calisto MT';
    color: darkblue;
    text-shadow: 2px -2px white;
}

.botones1{
    text-align: center;
}    
.botones2{
    position: inherit; left: 2; bottom: 0;
    text-align: left;
}    
p{
    background-color: lightcyan;
    padding: 10px;
    margin: 0.2px;
}
.boton1{
    font-weight: bold;
    background-color: lightgreen;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}
.botonvolver{
    font-weight: bold;
    background-color: aliceblue;
    color: black;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    width: 120px;
    height: 40px;
}
.botonenviar{
    font-weight: bold;
    background-color: lightslategrey;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
}
.boton2{
    font-weight: bold;
    background-color: lightblue;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}
.boton3{
    font-weight: bold;
    background-color: lightcoral;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}

.contenedor{

    margin: 2px, 40px, 2px, 40px;
    background-color: greenyellow;
    align-content: center;
    border-radius: 20px;
}